nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 260px;
    background: linear-gradient(160deg, #fe94d3, #fffefe);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    box-shadow: 2px 0 12px rgba(0,0,0,0.08);
    overflow-y: auto; 
}

a {
    text-decoration: none;
    color: #0e0e0e;   
    margin-bottom: 20px;
    font-size: 30px;

}

a:hover {
    color: #fff8fc;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}

.circulo {
    width: 200px;
    height: 200px;
    background: #f9f6f8;
    border-radius: 50%;
    display: inline-block;
}

h1{
    margin-left: 260px;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

p{
    margin-left: 260px;
    min-height: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


strong  {
    position: fixed;
    left: 260px;
    bottom: 0;
    width: calc(100% - 260px);
    background: black;
    color: #f8f4f4;
    text-align: center;
    padding: 16px 0;
    font-size: 20px;
    font-weight: bold;
    z-index: 100;
    box-shadow: 0 -2px 12px rgba(0,0,0,0.08);
}

iframe{

    margin-left: 260px;
    min-height: 100px;
    align-items: center;

}

article{
    margin-left: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    margin-left: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    display: inline-block;
    width: 100%;
    padding: 16px 0;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    color: #000;
    margin: 19px 0 0 0;
    cursor: pointer;
    background: linear-gradient(125deg, #fe94d3, #ffffff);
   
}

button:hover {
    background-color: #000000;
    color: #f704c2;
}