



nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 260px;
    background: linear-gradient(160deg, #fe94d3, #fffefe);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    box-shadow: 2px 0 12px rgba(0,0,0,0.08);
    overflow-y: auto; 
}

a {
    text-decoration: none;
    color: #0e0e0e;   
    margin-bottom: 20px;
    font-size: 30px;

}

a:hover {
    color: #fff8fc;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}

.circulo {
    width: 200px;
    height: 200px;
    background: #f9f6f8;
    border-radius: 50%;
    display: inline-block;
}

h1{
    margin-left: 260px;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

img{
    
    display: block;
    margin: 10px;
    width: 560px;
    height: 315px;
    background-image: url('/plataforma-de-inscripciones/imagenes/united-states-of-america-flag-vector.jpg'); 
    background-position: center;
    border-radius: 30px; 
    margin: 20px auto;

}

p{
    margin-left: 260px;
    min-height: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    width: 600px;
    height: 430px;
    margin: 10px;
    width: 560px;
    height: 315px;

}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.5 ease;
    display: block;
    margin: 10px;
    width: 560px;
    height: 315px;
}

section img:hover{
    cursor:crosshair;
    width: 300px;
    opacity: 1px;
    filter: brightness(120%);

}


strong  {
    display: block;
    margin-left: 260px;
    background: black;
    color: #f8f4f4;
    text-align: center;
    padding: 16px 0;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    box-shadow: 0 -2px 12px rgba(0,0,0,0.08);
}

iframe{

    margin-left: 260px;
    min-height: 100px;
    align-items: center;

}

article{
    margin-left: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    margin-left: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    display: inline-block;
    width: 100%;
    padding: 16px 0;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    color: #000;
    margin: 19px 0 0 0;
    cursor: pointer;
    background: linear-gradient(125deg, #fe94d3, #ffffff);
   
}

button:hover {
    background-color: #000000;
    color: #f704c2;
}